parameter_defaults:
  OvercloudControlFlavor: control
  OvercloudComputeFlavor: compute
  OvercloudCephStorageFlavor: ceph-storage
  ControllerCount: {{ controller_count }}
  ComputeCount: {{ compute_count }}
  CephStorageCount: {{ ceph_count }}

