#!/bin/bash
#############################
# This is not fully dynamic file and it might have not been populated with all right information. This is a template. You might still want to verify this is what you want before executing it
##############################

source ~/stackrc
cd ~/
time openstack overcloud deploy --templates --stack {{ project_name }} \
     -n templates/network_data.yaml \
     -e templates/node-info.yaml \
     -e templates/storage-environment.yaml \
     -e templates/ceph-custom-config.yaml \
     -e templates/network-environment.yaml \
     -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
     -e templates/host-memory.yaml \
     -e templates/containers-prepare-parameter.yaml \
     --log-file {{ project_name }}_deployment.log \
     --ntp-server 10.10.0.10 

     # If you're going to use SSL, you will need to copy over this file and make
     # necessary adjustments
     #-e /home/stack/templates/environments/ssl/inject-trust-anchor-hiera.yaml \
     # the one below came from osp14, but has not been adapted to osp15 yet
     #-e templates/fixed-ip-vips.yaml \

