nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild controller1 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild controller2 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild controller3 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild compute1 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild compute2 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild compute3 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild ceph1 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild ceph2 {{ pxe_image }}
nova --os-auth-url {{ os_auth }} --os-project-name {{ project_name }} --os-username {{ project_name }} --os-password {{ project_password }} --insecure rebuild ceph3 {{ pxe_image }}

source ~/stackrc
for i in `ironic node-list | grep error | awk {'print $2'}`; do ironic node-set-provision-state $i deleted;done
