127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.20.0.10 bootstrap.{{ project_name }}.hexo.lab bootstrap
10.20.0.21 kni-master1.{{ project_name }}.hexo.lab kni-master1
10.20.0.22 kni-master2.{{ project_name }}.hexo.lab kni-master2
10.20.0.23 kni-master3.{{ project_name }}.hexo.lab kni-master3
10.20.0.31 kni-worker1.{{ project_name }}.hexo.lab kni-worker1
10.20.0.32 kni-worker2.{{ project_name }}.hexo.lab kni-worker2
10.20.0.33 kni-worker3.{{ project_name }}.hexo.lab kni-worker3

10.20.0.200  api.{{ project_name }}.hexo.lab api
10.20.0.10 ns1.{{ project_name }}.hexo.lab ns1

